
/*ARRUMANDO TAMANHO DO BODY E HTML*/
html,body{
	height: 100%;
}
/*FIM*/

/*AJEITANDO O ICONE HAMBURGE PARA CABER NA TELA*/
.icone-hamburge{
	width: 12.25px;
	height: 14px;
	fill: #9A9DA0;
}
/*FIM*/

/*CONFIGURANDO COMPONENTES DA BARRA DE NAEGAÇÃO*/
a.navbar-brand{
	padding: 5px 16px;
	width: 193px;
}

nav.navbar{
	padding-left: 0px;
}
/*FIM*/


/*CONFIGURANDO BARRA DE NAVEGAÇÃO LATERAL*/
div#multiCollapseExample2{
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	z-index: 10;
	
}


div.container-conteudo{
	height: 100vh;
	width: 223px;
	background-color: #212529;
	box-sizing: border-box;
}
/*FIM*/

/*CONFIGURANDO OS CARDS*/
div.container-secao{
	border-top: 1px solid #E9ECEF;
	border-bottom: 1px solid #E9ECEF;
}


div.maior{
	padding: 20px;
}

div.menor{
	padding: 12px 20px;
}

a.link-card{
	color: white;
	font-size: 14px;
}

.seta{
	width: 6px;
	height: 12px;
}

.alinha-icone{
	display: inline-block;
	float: right;
}

.bg-brown{
	background-color: #4E342E;
}
/*FIM*/

/*CONFIGURANDO ITENS DO MENU LATERAL*/
div.menu{
	width: 223px;
	height: 700px;
	background-color: #212529;
				
}

.titulo-menu-lateral{
	font-size: 15px;
	color: #575A5D;
	font-weight: 900;
}

.caixa-titulo{
	padding-top: 28px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 12px;
}

.opcao-menu{
	color: white;
	padding: 12px 16px;
	padding-top:0px;
}

.secao{
	color: white;
	font-size: 17px;
}

.icone-menu-lateral{
	height: 14.39px;
	width: 16.19px;
	fill: white;
}
/*FIM*/


/*MEDIA QUERIES*/
@media (min-width: 465px){
	.video{
		height: 50.78vh;
	}
}

@media (min-width: 769px){
	.video{
		height: 61.59vh;
	}
}

@media (min-width: 1000px){
	div#multiCollapseExample2{
		width: 223px;
		background-color: white;
		position: fixed;
	}

}

@media (min-width: 1200px){
	.video{
		height: 50.78vh;
	}
}

@media (min-width: 1442px){
	.video{
		height: 80.34vh;
	}
}





